{#
/**
 * @file
 * Default theme implementation to display a Brightcove video in an iframe.
 *
 * @ingroup themeable
 */
#}
<div class="brightcove_player--iframe" style="position: relative; display: block; max-width: 960px;">
  <div style="padding-top: 56.25%;">
    <iframe src="{{ video_src }}"
            allowfullscreen="" allow="encrypted-media"
            style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
  </div>
</div>
